{
  "env": {
    "es6": true,
    "browser": true
  },
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2015,
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "quotes": [
      "warn",
      "single",
      {
        "allowTemplateLiterals": true
      }
    ],
    "arrow-parens": [
      "warn",
      "as-needed"
    ],
    "comma-spacing": [
      "warn",
      {
        "after": true
      }
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "@typescript-eslint/semi": [
      "warn"
    ]
  }
}
